<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="fluorine">
      <section name="activators" type="System.Configuration.NameValueSectionHandler, System,Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <section name="activation" type="System.Configuration.NameValueSectionHandler, System,Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
	  <section name="classMappings" type="com.TheSilentGroup.Fluorine.Configuration.CustomTagHandler, com.TheSilentGroup.Fluorine"/>
	  <section name="services" type="com.TheSilentGroup.Fluorine.Configuration.ServiceTagHandler, com.TheSilentGroup.Fluorine"/>
	  <section name="security" type="com.TheSilentGroup.Fluorine.Configuration.SecurityTagHandler, com.TheSilentGroup.Fluorine"/>
	  <section name="cache" type="com.TheSilentGroup.Fluorine.Configuration.CacheTagHandler, com.TheSilentGroup.Fluorine"/>
	  <section name="importNamespaces" type="com.TheSilentGroup.Fluorine.Configuration.ImportNamespacesTagHandler, com.TheSilentGroup.Fluorine"/>
	  <section name="nullable" type="com.TheSilentGroup.Fluorine.Configuration.NullableTagHandler, com.TheSilentGroup.Fluorine"/>
    </sectionGroup>
  </configSections>

<appSettings>
    <!--  Time Zone Compensation
		  none
		  auto
    -->
    <add key="timezoneCompensation" value="none"/>
    <add key="wsdlGenerateProxyClasses" value="true"/>
    <add key="wsdlProxyNamespace" value="com.TheSilentGroup.Fluorine.Proxy"/>
    <!--  Any value-type that is not explicitly initialized with a value will contain the default value for that object type -->
    <add key="acceptNullValueTypes" value="false"/>
    <!-- value="browse|access" -->
    <add key="remotingServiceAttribute" value="browse"/>
</appSettings>

<fluorine>
	<activators>
		<add key="request" value="com.TheSilentGroup.Fluorine.Activation.RequestActivator"/>
		<add key="application" value="com.TheSilentGroup.Fluorine.Activation.ApplicationActivator"/>
	</activators>
	<classMappings>
		<classMapping>
			<type>SampleClassNet</type>
			<customClass>SampleClassAS</customClass>
		</classMapping>
	</classMappings>
	<services>
		<service>
			<name>ServiceName</name>
			<service-location>.NET Full type name</service-location>
			<methods>
				<remote-method>
					<name>MethodName</name>
					<method>.NET Method name</method>
				</remote-method>
			</methods>
		</service>
	</services>
    <security>
		<login-command class="com.TheSilentGroup.Fluorine.Messaging.Security.GenericLoginCommand" server="asp.net"/>
    </security>
    <cache>
		<service timeout="30" slidingExpiration="false">.NET Full type name</service>
    </cache>
    <importNamespaces>
		<add namespace="Namespace name to import" assembly=""/>
    </importNamespaces>
    <nullable>
		<type name="System.Int32" value="MinValue"/>
		<type name="System.Double" value="MinValue"/>
		<type name="System.DateTime" value="MinValue"/>
		<type name="System.Guid" value="Empty"/>
    </nullable>
</fluorine>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
