body {
	margin:0;
	font-family: Verdana, Arial;
	font-size:0.74em;
	color:#555555;
	background-color:#FFFFFF;
	text-align:left;
}

p {
	font-family: Verdana, Arial;
	font-size:0.74em;
	margin:0;
}

a {
	color:#3E515E;
	font-weight:bold;
	text-decoration:underline;
}

a:hover {
	color:#B8C693;
}


li {
	line-height:20px;
	text-align:left;
}

#menu 
{
	width:100%;
	background-color:#B8C693;
	padding-top:0px;
	margin:0;
	color:#FFFFFF;
	text-align:left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-variant:small-caps;
	height:27px;
}

#menu a {
	color:#FFFFFF;
	text-decoration:none;
}


#menu p 
{
	padding-left:10px;
	padding-top:6px;
	font-weight:bold;
	font-size:1em;
}

#content {
	width:100%;
	text-align:left;
}

#main {
	margin-right:15px;
	padding-right:15px;
	background-position:top right;
	background-repeat:no-repeat;
}

#main h1 {
	font-family: "Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
	font-size:24px;
	padding-left:0px;
	margin-left:10px;
	padding-top:5px;
	text-transform:uppercase;
	font-weight:normal;
	border-bottom:1px solid #eeeeee;
	color:#728c40;
}

#main h2 {
	font-family: "Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
	font-size:14px;
	text-transform:uppercase;
	font-weight:normal;
	color:#728c40;
	padding-left:10px;
	line-height:10px;
}

#main code {
	font-family: Verdana, Arial;
	font-size:10px;
	color:#555555;
	background-color:#FFFFFF;
	text-align:left;
	line-height:14px;
}

#main p {
	padding-left:10px;
	padding-top:0px;
	padding-bottom:0px;
	line-height:15px;
	padding-bottom:5px;
	/*text-align:justify;*/
	font-size:1em;
}

#main table
{
}

#main table p
{
	padding-left:10px;
	margin:0px;
	font-size:0.74em;
}


.service 
{
	border: 0px;
	/*padding: 0px;*/
	width: 100%;
	margin: 0px 0px 20px;
}

.caption 
{
	padding-right: 0px;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px; 
	font-weight: bold;
	font-size: 13px;
	margin: 0px;
	color: #ffffff; 
	background-color: #3E515E;
	text-align: left;
	width: 100%;
}

.methodrow
{
	padding:0px;
	width: 100%;
}

.property 
{
	margin: 1px;
	padding-right: 30px; 
	padding-left: 25px;
	padding-bottom: 2px;
	padding-top: 2px; 
	width: 20%;
	margin: 0px;
	background-color: #f0f0f0;
}
.value
{
	margin: 0px;
	padding-right: 0px;
	padding-left: 10px;
	padding-bottom: 2px;
	padding-top: 2px;
	width: 80%;
	background-color: #f0f0f0
}

.label { 
 text-align: left; 
 margin-left: 0px; 
 padding-left: 0px;
}

.fieldcell { 
 color: #000000; 
 text-align: left; 
 margin-left: 0px; 
 padding-left: 0px; 
}

.fieldcell select
{
	margin-left:10px;
	padding-left:0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:100%;
	color:#ffffff;
	border:0px solid #728c40;
	background-color:#B8C693;
}

.fieldcell input
{
	padding: 3px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:90%;
	color:#ffffff;
	border:0px solid #728c40;
	background-color:#B8C693;
	margin-right: 0px;
	margin-left: 10px	
}

.tab
{       
	cursor: default;
    border-top:solid 1px #E0E0E0;
    border-right:solid 1px gray;
    border-left:solid 1px #E0E0E0;
    font-weight:normal;
    background-color: #B8C693;
}

.selTab
{
	cursor: default;
	border-left:solid 1px white;
    border-top:solid 1px white;
    border-right:solid 1px black;
    font-weight:bold;
    background-color: #f1f1f1;
}
